/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    color: white;
    /* TODO: change background color to the correct one */
    background-color: #625C5C;
}