<div class="container">
    
    <div class="header-container" style="border-bottom: 5px solid black;">
        <div class="data-container">
            <span class="text-header-container" style="margin-left: 3%;">Machine ID: {{ order.mc }}</span>
            <span class="text-header-container">Order ID: {{ order.id }}</span>
            <span class="text-header-container">Status: {{ order.status }}</span>
            <span class="text-header-container">Phase: {{ order.phase }}</span>
        </div>
        <div class="button-container">
            <button class="exit-button" (click)="closePopup()">
            </button>
        </div>
    </div>

    <div class="main-container">

        @if(getProgressOption() === 0) {
            <span>test</span>
        }

        @if(getProgressOption() > 0) {   
            
            @if(getSelectedForm() == "") {
                <div class="input-container">
                    <div class="button-container">
                        <div class="left">
                            <div style="width: 90%; height: 100%;">
                                <app-machines-container></app-machines-container>
                            </div>
                        </div>
                        
                        <div class="right">
                            <div style="width: 90%; height: 100%;">
                                <app-machines-container></app-machines-container>
                            </div>
                        </div>
                    </div>
                </div>
            }


            @if(getSelectedForm() === "phase") {
                <div class="input-container">
                    <form [formGroup]="form">
                        <div class="radio-container">
                            <div class="flex-container">
                                <div class="left">
                                    <label for="">
                                        <input formControlName ="radio" type="radio" name="radio" value="Fase1"> Fase 1
                                    </label>
                
                                    <label for="">
                                        <input formControlName ="radio" type="radio" name="radio" value="Fase2"> Fase 2
                                    </label>
                                </div>
            
                                <div class="right">
                                    <label for="">
                                        <input formControlName ="radio" type="radio" name="radio" value="Fase3"> Fase 3
                                    </label>
                
                                    <label for="">
                                        <input formControlName ="radio" type="radio" name="radio" value="Fase4"> Fase 4
                                    </label>
                                </div>
                            </div>
        
                            <button (click)="switchPhase($event)" style="width: 100px; height: 35px; color: white; margin-left: 4px; border: none; background-color: #2e2f34">Confirm</button>
                        </div>
                    </form>
                </div>
            }

            @if(getSelectedForm() === "quantity") {
                    <span style="margin-top: 3%; margin-bottom: 3%; font-size: 30px;">Enter a number of completed pieces</span>

                <span style="font-size: larger;">pieces completed: {{order.progress}}</span>
                <span style="font-size: larger;">total pieces: {{order.total}}</span>
                <div class="graph-container">
                    <div style="width: 70%; height: 100%; display: flex;">
                        <div class="loading-bar">
                            <div class="progress-bar" [style.width]="getPercentage(order.progress, order.total)"></div>
                        </div>
                    </div>
                </div>
                

                @if(error === true) {
                    <span style="color: red;">{{ errorMessage }}</span>
                }

                <div class="input-container">
                    <form [formGroup]="form">
                        <input class="input" type="text" name="quantity" formControlName ="quantity" placeholder="Insert a number of pieces you have completed">
                        <button (click)="submitForm($event)" style="width: 100px; height: 35px; color: white; margin-left: 4px; border: none; background-color: #2e2f34">Submit</button>
                    </form>

                    {{ selectedRadioOption}}
                </div>
            }
        }
        
    </div>
</div>