<div class="container">
    
    <div class="sub-container">
        <div class="left">
            <div class="up"></div>
    
            <div class="low">
                <img src="{{img}}" alt="">
            </div>
        </div>
    
        <div class="right">
            <div class="up">
                <button style="width: 100%; height: 100%;" (click)="closePopup()"><img src="../../assets/images/page_icons/close.png" alt=""></button>
            </div>
    
            <div class="low"></div>
        </div>    
    </div>
</div>