<div class="container">
    <div class="header-container">
        <app-header>
        </app-header>
    </div>

    <div class="main-container">
        <div class="search-container">
        </div>

        <div class="list-container">
            @for (rowList of rowMachinesList; track rowList){
                <div class="row">
                    @for (item of rowList; track item.id){
                        <div class="machines-container" (click)="goToOrder(item.id)">
                            <app-machines-container
                            [id]="item.id"
                            [name]="item.name"
                            [desc]="item.desc"
                            >
                            </app-machines-container>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="go-back-container">
            <button (click)="goBack()" style="margin-left: auto; margin-right: 40px; font-size: large; color: white; background-color: #2e2f34; border: none; padding: 10px;">
                go back to machines
            </button>
        </div>
    </div>
</div>