<div class="container">
    <div class="header-container">
        <app-header>
        </app-header>
    </div>


    <div class="main-container">
        
        <div class="list-container">

            

            
            <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                    @for (row of orders; track row.id){
                        <tr> 
                            <td>{{ row.id }}</td>
                            <td>{{ row.name }}</td>
                        </tr>
                    }                
                </tbody>
            </table>
        </div>
          
    </div>
    
</div>