<div class="container">
    <div class="header-container">
        <app-header
            [isTitle]="true"
            [pageTitle]="pageTitle"
        ></app-header>
    </div>

    <div class="main-container">
        <div class="search-container">
        </div>

        <div class="list-container">
            @for (rowList of rowMachinesList; track rowList){
                <div class="row">
                    @for (item of rowList; track item.id){
                        <div class="machines-container" (click)="goToOrder(item.id)">
                            <app-orders-container
                            [id]="item.id"
                            [name]="item.name"
                            [desc]="item.desc"
                            >
                            </app-orders-container>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="go-back-container">
            <button class="back-button" (click)="goBack()">
                go back to machines
            </button>
        </div>
    </div>
</div>