
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.popup-container {
    width: 62%;
    height: 75%;
    z-index: 4;
    position: absolute;
}

.header-container {
    width: 100%;
    height: 10%;
    z-index: 3;
}

.main-container {
    z-index: 3;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upper-side-container {
    width: 90%;
    height: 39%;
    margin-top: 1%;
    margin-bottom: 0.5%;
}

.text-container {
    width: 100%;
    height: 50%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-side {
    width: 40%;
    height: 100%;
    margin-left: 0px;
    padding: 10px;
    margin-right: auto;
}

.graph-row {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    padding: 10px;
    margin-right: auto;
}

.right-side {
    width: 40%;
    height: 100%;
    margin-right: 0px;
    padding: 10px;
    margin-left: auto;
}

.graph-container {
    width: 100%;
    height: 50%;
}

.lower-side-container {
    width: 90%;
    height: 51%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/images/backgrouond.jpg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.square {
    width: 8.1%;
    height: 100%;
}

.space-between {
    width: 2%;
    height: 100%;
    background-color: #4b4c54;
}

.space-orizzontally {
    width: 100%;
    height: 7%;
    background-color: #4b4c54;
}