
<div class="container">
    <div class="header-container">
        <app-header
            [ordernumber]="ordernumber"
            [mcId]="mcId"
            [left_header_text]="left_header_text"
            [right_header_text]="right_header_text">
        </app-header>
    </div>

    <div class="main-container">
        <div class="upper-side-container">
            <div class="text-container">
                <div class="row">
                    <div class="left-side">
                        <app-key-value-text
                            key="AG"
                            value="1000"
                        ></app-key-value-text>
                    </div>
                    <div class="right-side">
                            <app-key-value-text
                            key=" Bez AG"
                            value="DRE FRA"
                        ></app-key-value-text>
                    </div>
                </div>

                <div class="row">
                    <div class="left-side">
                        <app-key-value-text
                            key="Lagerplatz"
                            value="C31"
                        ></app-key-value-text>
                    </div>
                </div>
            </div>

            <div class="graph-container">
                <div class="row">
                    <div class="left-side">
                        <app-key-value-text
                            key="Programm"
                            value="XXXXXXXXXXXXXXX"
                        ></app-key-value-text>
                    </div>
                    <div class="right-side">
                            <app-key-value-text
                            key="Status"
                            value="In Arbeit"
                        ></app-key-value-text>
                    </div>
                </div>

                <div class="row">
                    <div class="graph-row">
                        <app-key-value-text
                            key="Fortschritt"
                            [progress]="50"
                            [graph]="true"
                        ></app-key-value-text>
                    </div>
                </div>

                <div class="row">
                    <div class="left-side">
                        <app-key-value-text
                            key="Gefertigt"
                            value="1"
                        ></app-key-value-text>
                    </div>
                    <div class="right-side">
                            <app-key-value-text
                            key=" Aussschuss"
                            value="0"
                        ></app-key-value-text>
                    </div>
                </div>
            </div>
        </div>

        <div class="lower-side-container">

            <div class="row" style="display: flex; justify-content: center;">
                <div class="square" (click)="openPopup()">
                    <app-img-square
                    text="Disegno"
                    ></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>
            </div>

            <div class="space-orizzontally"></div>

            <div class="row" style="display: flex; justify-content: center;">
                <div class="square">
                    <app-img-square></app-img-square>
                </div>
                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>
            </div>

            <div class="space-orizzontally"></div>

            <div class="row" style="display: flex; justify-content: center;">
                <div class="square">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"  ></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>
            </div>

            <div class="space-orizzontally"></div>

        </div>
    </div>

    
    @if(isPopupVisible === true) {
        <div class="popup-container">
            <app-popup-order-img
            (popup)="closePopup($event)"
            ></app-popup-order-img>
        </div>
        <!-- [img]="popupImg" -->
    }
</div>




<!--

    lista ordini
    rendicontazione
    disegno
 -->