
<div class="container">
    <div class="header-container">
        <app-header
            [ordernumber]="order.id"
            [mcId]="order.mc"
            [left_header_text]="order.text_left"
            [right_header_text]="order.text_right">
        </app-header>
    </div>

    <div class="main-container">
        <div class="upper-side-container">
            <div class="text-container">
                <div class="row">
                    <div class="left-side">
                        <app-key-value-text
                            key="AG"
                            [value]="order.ag"
                        ></app-key-value-text>
                    </div>
                    <div class="right-side">
                            <app-key-value-text
                            key=" Bez AG"
                            [value]="order.bez_ag"
                        ></app-key-value-text>
                    </div>
                </div>

                <div class="row">
                    <div class="left-side">
                        <app-key-value-text
                            key="Lagerplatz"
                            [value]="order.lagerplatz"
                        ></app-key-value-text>
                    </div>
                </div>
            </div>

            <div class="graph-container">
                <div class="row">
                    <div class="left-side">
                        <app-key-value-text
                            key="Programm"
                            [value]="order.programm"
                        ></app-key-value-text>
                    </div>
                    <div class="right-side">
                            <app-key-value-text
                            key="Status"
                            [value]="order.status"
                        ></app-key-value-text>
                    </div>
                </div>

                <div class="row">
                    <div class="graph-row">
                        <app-key-value-text
                            key="Fortschritt"
                            [progress]="order.fortschritt"
                            [graph]="true"
                        ></app-key-value-text>
                    </div>
                </div>

                <div class="row">
                    <div class="left-side">
                        <app-key-value-text
                            key="Gefertigt"
                            [value]="order.gefertigt"
                        ></app-key-value-text>
                    </div>
                    <div class="right-side">
                            <app-key-value-text
                            key=" Aussschuss"
                            [value]="order.aussschuss"
                        ></app-key-value-text>
                    </div>
                </div>
            </div>
        </div>

        <div class="lower-side-container">

            <div class="row" style="display: flex; justify-content: center;">
                <div class="square" (click)="openPopup()">
                    <app-img-square
                        text="Disegno"
                    ></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square
                        text="rendicontazione"
                    ></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>
            </div>

            <div class="space-orizzontally"></div>

            <div class="row" style="display: flex; justify-content: center;">
                <div class="square">
                    <app-img-square></app-img-square>
                </div>
                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>
            </div>

            <div class="space-orizzontally"></div>

            <div class="row" style="display: flex; justify-content: center;">
                <div class="square">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square [invisible]="true"  ></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>

                <div class="space-between"></div>

                <div class="square" id="space-left">
                    <app-img-square></app-img-square>
                </div>
            </div>

            <div class="space-orizzontally"></div>

        </div>
    </div>

    
    @if(isPopupVisible === true) {
        <div class="popup-container">
            <app-popup-order-img
            [img]="order.image"
            (popup)="closePopup($event)"
            ></app-popup-order-img>
        </div>
    }
</div>




<!--
    rendicontazione (gestione dei pezzi dell'ordine da fare e gia fatti, creare
     script che in base alla quantita di pezzi fatta e quella totale ritorna una percentuale di completamento)
 -->