
<div class="container">
    <div class="magazine-order-container">
        <div class="magazine-text-container">

            <span class="magazine-text">Lagerauftrag</span>
            <span class="magazine-text">{{ordernumber}}</span>
        </div>
    </div>

    <div class="idk-container">
        <div class="idk-text-container">

            <span class="idk-text">KLEMMBOLZEN Y-LENKER</span>
            <span style="margin-left: 40px;" class="idk-text">DREHGESTELL</span>
        </div>
    </div>

    <div class="data-container">
        <div class="data-logo-container">
            <img class="logo" src="../../assets/images/doppelmayr.png" alt="">
        </div>

        <div class="data-text-container">

            <span class="data-text">{{ otherid }}</span>
            <span class="data-text">|</span>
            <span class="data-text">{{ getCurrentdate() }}</span>
            <span class="data-text">|</span>
            <span class="data-text">Benutzer_XAM</span>
            <span class="data-text">|</span>
            <span class="data-text">Deutch</span>
        </div>
    </div>
</div>
