
<div class="container">
    <div class="magazine-order-container">
        <div class="magazine-text-container">

            @if(ordernumber != "") {
                <span class="magazine-text">Lagerauftrag</span>
                <span class="magazine-text">{{ordernumber}}</span>
            }
        </div>
    </div>

    <div class="title-container">
        @if(isTitle === true) {
            <div class="sub-title-container">
                <span style="font-size: 50px; margin-left: auto; margin-right: 0px;">{{ pageTitle }}</span>
            </div>
        }

        @if(isTitle === false) {
            <div class="title-text-container">
                <span class="title-text">{{ left_header_text }}</span>
                <span class="title-text">{{ right_header_text }}</span>
            </div>
        }
    </div>

    <div class="data-container">
        <div class="data-logo-container">
            <img class="logo" src="../../assets/images/doppelmayr.png" alt="">
        </div>

        <div class="data-text-container">

            <span class="data-text">{{ mcId }}</span>
            <span class="data-text">|</span>
            <span class="data-text">{{ getCurrentdate() }}</span>
            <span class="data-text">|</span>
            <span class="data-text">Benutzer_XAM</span>
            <span class="data-text">|</span>
            <span class="data-text">Deutch</span>
        </div>
    </div>
</div>
