<div class="container">
    <div class="something-container" >
        <!-- image container i think -->
    </div>

    <div class="logout-container" id="nav-containers">  
        <div id="sub-container">
            <app-img-square
            img="../../assets/images/page_icons/profile.png"
            text="Abemenldung"
            >

            </app-img-square>
        </div>
    </div>

    <div class="comunications-container" id="nav-containers">
        <div id="sub-container">
            <app-img-square
            img="../../assets/images/page_icons/comunications.png"
            text="Kommunikation"
            >

            </app-img-square>
        </div>
    </div>

    <div class="notifications-container" id="nav-containers">
        <div id="sub-container">
            <app-img-square
            img="../../assets/images/page_icons/notifications.png"
            text="Benachrichtingung"
            >

            </app-img-square>
        </div>
    </div>

    <div class="time-assignment-container" id="nav-containers">
        <div id="sub-container">
            <app-img-square
            img="../../assets/images/page_icons/time-assignment.png"
            text="Zeitverwaltung"
            >

            </app-img-square>
        </div>
    </div>

    <div class="dashboard-container" id="nav-containers">
        <div id="sub-container">
            <app-img-square
            img="../../assets/images/page_icons/dashboard.png"
            text="Dashboard"
            >

            </app-img-square>
        </div>
    </div>

    <div class="timeline-container" id="nav-containers">
        <div id="sub-container">
            <app-img-square
            img="../../assets/images/page_icons/timeline.png"
            text="Timeline"
            >

            </app-img-square>
        </div>
    </div>

    <div class="beekeeper-container" id="nav-containers">
        <div id="sub-container">
            <app-img-square
            img="../../assets/images/page_icons/beekeeper.png"
            text="Beekeeper"
            >

            </app-img-square>
        </div>
    </div>
</div>