<div class="container">
    <div class="something-container" >
        <!-- image container i think -->
    </div>

    <div class="logout-container" id="nav-containers">  
        <div id="sub-container">
            <app-img-square
            img="../../assets/images/user.png"
            text="Logout"
            >

            </app-img-square>
        </div>
    </div>

    <div class="comunications-container" id="nav-containers">
        <div id="sub-container">
            <app-img-square
            text="Comunications"
            >

            </app-img-square>
        </div>
    </div>

    <div class="notifications-container" id="nav-containers">
        <div id="sub-container">
            <app-img-square
            text="Notifications"
            >

            </app-img-square>
        </div>
    </div>

    <div class="time-assignment-container" id="nav-containers">
        <div id="sub-container">
            <app-img-square
            text="Time Assignment"
            >

            </app-img-square>
        </div>
    </div>

    <div class="dashboard-container" id="nav-containers">
        <div id="sub-container">
            <app-img-square
            text="Dashboard"
            >

            </app-img-square>
        </div>
    </div>

    <div class="timeline-container" id="nav-containers">
        <div id="sub-container">
            <app-img-square
            text="Timeline"
            >

            </app-img-square>
        </div>
    </div>

    <div class="beekeeper-container" id="nav-containers">
        <div id="sub-container">
            <app-img-square
            text="Beekeeper"
            >

            </app-img-square>
        </div>
    </div>
</div>