<div class="container">
    <div class="header-container">
        <app-header>
        </app-header>
    </div>

    <div class="main-container">
        <div class="search-container">
        </div>

        <div class="list-container">
            @for (rowList of rowMachinesList; track rowList){
                <div class="row">
                    @for (item of rowList; track item.id){
                        <div class="machines-container" (click)="goToMachine(item.id)">
                            <app-machines-container
                            [id]="item.id"
                            [name]="item.name"
                            [desc]="item.desc"
                            >
                            </app-machines-container>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>